include ./partials/head
link(rel="stylesheet", href="/resources/css/style.css")

include ./partials/header

h1 Notes Are Below

each note in notess
    p=note.title+" and "+note.body

include ./partials/footer
